* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
#about {
  background-image: url("https://via.placeholder.com/1920x1080");
  background-size: cover;
  background-position: center;
  color: white;
}

#menu .card {
  transition: transform 0.2s;
}

#menu .card:hover {
  transform: scale(1.05);
}

footer {
  background-color: #343a40;
}
/* common */
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background: #060d15;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.8;
}
/* header */
.header {
  padding-top: 30px;
  background: rgb(48, 48, 48);
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.navba__list {
  display: flex;
}
.action-login,
.navba__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}
.navba__link:hover {
  text-shadow: 1px 0 0 currentColor;
  text-decoration: none;
  color: #c9d2da;
}
.action-signup {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}
.action-login {
  margin-right: 7px;
}
/* body */
.boxcenter {
  width: 50%;
  margin: 20px auto;
  text-align: center;

  font-size: 7rem;
    line-height: 1.14;
    font-weight: 600;
}
.header__edit {
  background: rgb(241, 241, 241);
  padding: 20px 0;
  
}
.about__content{
    width: 44%;
}
.about__media{
    flex: 1;
}
.about--us{
    display: flex;
    align-items: center;
}
.about__heading{
    color: rgb(48, 48, 48);
    font-size: 4rem;
    line-height: 1.14;
    font-weight: 400;
}
.about_desc{
    margin-top: 22px;
    font-size: 18px;
    line-height: 30px;
}
.about__images{
    display: flex;
}
.about__images{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.about__img{
    border-radius: 6px;
    object-fit: cover;
}
.about__large{
    width: 330px;
    height: 400px;
    margin-right: -6px;
    z-index: 1;
}
.about__small{
    width: 270px;
    height: 300px;
}
.about--us{
    padding: 20px 0;
}
/* menu */
.menu--header{
    color: rgb(48, 48, 48);
    font-size: 2rem;
    line-height: 1.14;
    font-weight: 500;
    padding: 10px 0;
}
.menu--desc{
    margin-top: 22px;
    font-size: 18px;
    line-height: 30px;
}
.space{
  padding: 20px 10px;
}
* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* ============== common ================= */
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}
/* control btn */
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background: #fff;
  cursor: pointer;
  transition: 0.25s;
}

.control__btn:hover {
  background: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}

.control-icon--next {
  rotate: 180deg;
}



/* ==================== footer ====================== */
.footer {
  margin-top: 170px;
  padding-top: 100px;
  background: rgb(48, 48, 48);
  font-family: "Open Sans", sans-serif;
  margin-top: -30px;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
}

.footer__desc {
  margin-top: 21px;
  color: #a9b3bb;
  font-size: 1.6rem;
  line-height: 1.75;
}

.footer__heading {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer__list {
  margin: 20px 0 28px;
}

.footer__link {
  color: #a9b3bb;
  font-size: 1.4rem;
  line-height: 1.86;
  white-space: nowrap;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__social {
  margin: 20px 0 28px;
  display: flex;
  column-gap: 10px;
}

.footer__social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  color: #2e80ce;
  transition: 0.25s;
}

.footer__social-btn:hover {
  background: #2e80ce;
  color: #fff;
}

.footer-form {
  display: flex;
  column-gap: 12px;
  margin-top: 10px;
}

.footer-form__input {
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
  background: transparent;
  outline: none;
  color: #fff;
}

.footer-form__input::placeholder {
  color: #9ca8b1;
  font-size: 1.4rem;
  line-height: 1.86;
}

.footer-form__submit {
  width: 108px;
  height: 46px;
  border-radius: 4px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
  border: none;
}

.footer-form__submit:hover {
  cursor: pointer;
  opacity: 0.9;
}

.footer__copyright {
  border-top: 1px solid #406181;
}

.footer__copyright-text {
  padding: 28px 0 42px;
  color: #aab3ba;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86;
}

.foot-des{
  margin-top: -30px;
}

 /* Feedback form styles */
 .feedback-form-container {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;

}

.feedback-form-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.feedback-form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.feedback-form-container input,
.feedback-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.feedback-form-container textarea {
  resize: vertical;
  min-height: 100px;
}

.feedback-form-container button {
  width: 100%;
  padding: 10px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-form-container button:hover {
  background-color: #0056b3;
}

.feedback-form-container .feedback-success {
  display: none;
  text-align: center;
  color: green;
  font-size: 16px;
  margin-top: 15px;
}